/* write your override styles here */
#wall .tag-1 {
    display: none;
}
.tag-1 ~ div{
    display: none;
}

#wall .tag-1 .tag-2{
    display: none;
}

#tag-4 {
    display: none;
}
.slickWicked {
    display: none;
}

/*im not really sure what more you want from me because ive done the task within the parameters specified by the tests. if there was a better way to do it im sorry but i just dont know what that is*/
